.paper {
  margin: 10px;
  padding-left: 10px;
  padding-bottom: 40px;
  border: 1px solid #ebebeb;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.paper h3 {
  color: #3a8a05;
}

input {
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 3px;
  padding-right: 10px;
}
